@model jeverett.Models.LogUser;

<div class="login d-inline-block">
        <form asp-action="Login" asp-controller="Home" method="POST">
            <h3>Login</h3>
            <br>
            <div class="form-group">
                <span style="color: red;" asp-validation-for="Email"></span>
                <input asp-for="Email" class="form-control"  aria-describedby="emailHelp"
                placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">
                else.</small>
            </div>
            <div class="form-group">
                <span style="color: red;" asp-validation-for="Password"></span>
                <input asp-for="Password" class="form-control" placeholder="Password">
                <br>
            </div>
            <input type="submit" class="btn btn-primary">
        </form>
    </div>