<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>@ViewData["Title"] | Joshua Everett</title>
  <link rel="shortcut icon" type="image/png" href="/iassets/je-icon.png" />

  <!-- MATERIAL CSS  -->
  <link href="/css/site.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  
  <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

   <link href="https://fonts.googleapis.com/css?family=Audiowide|Cinzel|Economica:700|Liu+Jian+Mao+Cao|Rock+Salt&display=swap" rel="stylesheet"> 

<meta name="description" content="Computer Software Engineering graduate with intensive training in software development. Well-versed in Python, C#/.Net, JavaScript, MongoDB, Django and MySQL. Military veteran with strong ability to manage projects from concept to completion ensuring on-time, on-budget, and on-target results. Equally adept at working with teams and individually with minimal supervision.  " />
<meta name="keywords" content="AI, artifical Intelligence, software engineering, software, developer, full-stack, fullstack, python, ajax, java, mean, C#, maryland, lexington park, PAX, 919-588-0090" />
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-150260289-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-150260289-2');
</script>



</head>
<body>
    
<div id="menu">
    <!--MATERIAL NAV-->
  <nav class="navbar-fixed" >
    <div class="nav-wrapper #455a64 #263238 blue-grey darken-4">
    <img src="/iassets/eagle2.png" alt="Joshua Everett" style="margin-left: 8px; width:70px; margin-top:11px;">
      <span class="nav-name">Joshua Everett</span>
      <ul class="right hide-on-med-and-down">
      <li><a class="white-text" href="#resume">resume</a></li>
      <li><a class="white-text" href="#projects">projects</a></li>
      <li><a class="white-text" href="#contact">contact</a></li>
    </ul>

  </nav>

</div>
  <!--END MATERIAL NAV-->
  
      <div class="container">
      <main role="main" class="pb-3">
            @RenderBody()
      </main>
    </div>

    

    <!--MATERIAL FOOTER-->
<footer class="page-footer light-green  black-text">
    <div class="container">
      <div class="row">
        
        <!--COL 1--> 
        <div class="card-panel grey lighten-5 z-depth-1 col s6">
          <div class="row valign-wrapper">
            <div class="col s2">
              <img src="iassets/me.jpeg" alt="" class="circle responsive-img" alt="Joshua Everett"> <!-- notice the "circle" class -->
            </div>
            <div class="col s10">

              <ul class="collection">
                <li class="collection-item"><i class="material-icons">phone</i>  (240) 233-4112‬</li>
                <li class="collection-item"><i class="material-icons">send</i>  joshuaeverett22@gmail.com</li>
              </ul>

            </div>  
      </div></div>

             <!--COL 2--> 
        <div class="card-panel grey lighten-5 z-depth-1 col s6">
          <div class="row valign-wrapper">

            <div class="col s12">
              <ul class="collection">
                <li class="collection-item foot-ico"><img src="/iassets/icons/linkedin.png" alt="LinkedIn"><a href="https://www.linkedin.com/in/joshuaeverett22/">  view my linkedin profile‬</a></li>

                <li class="collection-item foot-ico"><img src="/iassets/icons/github.png" alt="Github"><a href="https://github.com/everett-j">  view my github‬</a></li>


              </ul>
            </div>
          
      
        
        
      </div>
    </div>
    </div>
    <div class=" cinzel-font">
     
      © Joshua Everett
      
    </div>
  </footer>

    <!--END MATERIAL FOOTER-->

  
    <environment exclude="Development">
        
          <!-- MATERIAL JavaScript -->
<!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/js/materialize.js"></script>
  <script src="/js/materialize.min.js"></script>
  <script src="/js/init.js"></script>
           <!-- Compiled and minified JavaScript -->

    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
