@{
    ViewData["Title"] = "Full Stack Developer ";
}
<p><br></p>
<div class="card">
  <div class="card-body">
    <h3>Call me maybe?</h3>
  </div>
</div>
<!-- Header Section -->
<div id="monster" name="home">
        <div class="container">
                <div class="row white">
                  <div class="col-md-6">
                 <!-- BEGINNING OF PROFILE-->   
                 

                  <div class="card hovercard">
                      <div class="cardheader">
      
                      </div>
                      <div class="avatar">
                          <img alt="Josh E" src="/iassets/me.jpeg">
                      </div>
                      <div class="info">
                          <div class="title">
                              Josh Everett
                          </div>
                          <div class="bottom-black">
                              <img alt="Full-Stack Software Engineer"src="/iassets/programming.png"> 
                            <img alt="Python"src="/iassets/python.png"> 	
                            <img alt="Javascript"src="/iassets/javascript.png"> 
                            <img alt="CSS" src="/iassets/css.png"> 
                            <img alt="HTML 5" src="/iassets/html5.png"> 
                            <img alt="JQuery" src="/iassets/jquery.png"> 
                            <!-- <img alt="Node JS" src="assets/icons/nodejs.png">  -->
                            <img alt="Java" src="/iassets/java.png"> 
                            <img alt="Java" src="/iassets/c-sharp.png"> 
                          </div>
                          <div class="desc">Passionate problem-solver</div>
                          <div class="desc">Curious developer</div>
                          <div class="desc">Tech geek</div>
                      </div>
                      
                  
                      </div>
                  
     

                <!--END OF PROFILE-->
                              </div>
                  <div class="card col-md-6">
                    <h3>Let's Do This.</h3>
                          <div class="row"><div class=" resume_linkedin "><a href="https://www.linkedin.com/in/joshuaeverett22/"><img src="/iassets/icons/linkedin.png"></a></div>
                            <div class="float-none"><a href="https://www.linkedin.com/in/joshuaeverett22/">View my Linkedin Profile</a></div></div>
                          
                          <div class="row"><div class=" resume_github "> <a href="https://github.com/everett-j"><img src="/iassets/icons/github.png"></a></div>
                            <div class="float-none"><a href="https://github.com/everett-j">View my Github</a></div></div>

                          <div class="row"><div class=" resume_email "><img src="/iassets/icons/envelope.png"></div>
                            <div class="float-none">Email me: jseverett18@gmail.com</div></div>

                          <div class="row"><div class=" resume_phone "><img src="/iassets/icons/phone.png"></div>
                            <div class="float-none">Call/Text: 919-588-0090</div></div>



                </div>
              </div>
  
</div>

<div class="card">
  <div class="card-body">
    <h3>Be the change.</h3>
  </div>
</div>