@{
    ViewData["Title"] = "Full Stack Developer ";
}
<p><br></p>
<button onclick="topFunction()" id="myBtn" title="Go to top"><i class="material-icons">arrow_upward</i></button>
<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        
        <!-- <h2 class="header center light-green-text ">let's do this. together.</h2> -->
        <div class="row center">
        

          <h5 class="black-text headline-bg cinzel-font ">let's do this. together.</h5>
        

        </div>
        <div class="row center">
          <a href="#contact" id="download-button" class="btn-large waves-effect waves-light #76ff03 light-green  black-text" style="opacity: 0.8">Contact Me!</a>
        </div>
        <br><br>

      </div>
    </div>
    
    <div class="parallax"><img src="./images/bg8.jpg" alt="Washington DC area" /></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-green-text"><i class="material-icons">timeline</i></h2>
            <h5 class="center">determination.</h5>
            <p class="light">
            As I switch from a career in transportation management to software programming, I am looking at ways to put these new talents to good use in meeting my next challenge.
            <br>
            Having learned languages like Python, C#/.Net, JavaScript, MongoDB, Django and MySQL would prove valuable to any company or organization.
            <br>
            Being a military veteran with an extensive background in overseeing tasks from initial planning to final delivery also would be beneficial.
            <br>
            Plus, I work equally well in team and individual settings with minimal supervision. 
            </p>
         
         </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-green-text"><i class="material-icons">thumb_up</i></h2>
            <h5 class="center">tech geek.</h5>

            <p class="light">
            I'm just your friendly neighborhood Software Developer.
            <br>
            I'm glad you are here, I hope you see what you are looking for and that I hear from you soon.
            
            </p>
          <div class="wordart"><img src="/iassets/WordArt.png" alt="Word Art of Josh Everett"></div>
          
          
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-green-text"><i class="material-icons">code</i></h2>
            <h5 class="center">full stack developer.</h5>

            <h6>
            <img src="/iassets/icons/c.png" alt="c#">
            <img src="/iassets/icons/dotnet.png" alt="dotnet">
            <img src="/iassets/icons/entity.png" alt="entity">
            <img src="/iassets/icons/aws.png" alt="aws">
            <img src="/iassets/icons/python48.png" alt="python">
            <img src="/iassets/icons/nodejs.jpg" alt="nodejs">
            <img src="/iassets/icons/angular.png" alt="angular">
            <img src="/iassets/icons/nginx.png" alt="nginx">
            <img src="/iassets/icons/mysql.png" alt="mysql">
            <img src="/iassets/icons/mongodb.png" alt="mongodb">
            <img src="/iassets/icons/mean-1.png" alt="mean stack">
            <img src="/iassets/icons/materialize.png" alt="materialize">
            <img src="/iassets/icons/jquery.png" alt="jquery">
            <img src="/iassets/icons/javascript.png" alt="javascript">
            <img src="/iassets/icons/html5.png" alt="html 5">
            <img src="/iassets/icons/django.png" alt="django">
            <img src="/iassets/icons/css3.png" alt="css 3">
            <img src="/iassets/icons/bootstrap.png" alt="bootstrap">



            </h6>
          </div>
        </div>
      </div>

    </div>
  </div>

<!--RESUME SECTION-->
  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div id="resume" class="container">
        <div class="row center">
          <h1 class="header center white-text cinzel-font">my resume.</h1>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="./images/bg9.jpg" alt="washington dc area"></div>
  </div>

  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-green-text"><i class="material-icons">verified_user</i></h2>
            <h5 class="center">the qualifications.</h5>
<!--BEGIN LIST OF SKILLS-->
<ul class="collection">
    <li class="collection-item avatar">
      <span class="h7"><img src="/iassets/icons/c.png" alt="c#"></span>
      <span class="title qual-font">C#/.net Core</span>
      <p>Razor, ASP.net, Entity Framework

      </p>
      <a href="#!" class=" light-green-text secondary-content"><i class="material-icons">grade</i></a>
    </li>
    <li class="collection-item avatar">
      <span class="h7"><img src="/iassets/icons/python48.png" alt="python"></span>
      <span class="title qual-font">Python</span>
      <p>Python, Django, Flask, MySQL, Ajax
      </p>
      <a href="#!" class="light-green-text secondary-content"><i class="material-icons">grade</i></a>
    </li>
    <li class="collection-item avatar">
      <span class="h7"><img src="/iassets/icons/mean-1.png" alt="mean stack"></span>
      <span class="title qual-font">M.E.A.N</span>
      <p>MongoDB, Express.JS, Angular, Node.JS, JavaScript
      </p>
      <a href="#!" class=" light-green-text secondary-content"><i class="material-icons">grade</i></a>
    </li>
    <li class="collection-item avatar">
      <span class="h7"><img src="/iassets/icons/aws.png" alt="aws"></span>
      <span class="title qual-font">Other</span>
      <p>HTML5, CSS3, Bootstrap, Materialize, AWS, Gunicorn, Ec2, Route53, Nginx
      </p>
      <a href="#!" class="light-green-text secondary-content"><i class="material-icons">grade</i></a>
    </li>
  </ul>


<!--END LIST OF SKILLS-->
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-green-text"><i class="material-icons">content_copy</i></h2>
            <h5 class="center">the skills.</h5>

            <p class="light">
            <span><i class="material-icons">layers</i> Full-Stack Development</span>
            <br>
            <span><i class="material-icons">assignment_turned_in</i> Project Management</span>
            <br>
            <span><i class="material-icons">assessment</i> Scope and Requirements Testing</span>
            <br>
            <span><i class="material-icons">group_work</i> Team Building and Leadership</span>
            <br>
            <span><i class="material-icons">error</i> Troubleshooting and Issue Resolution</span>
            <br>
            <span><i class="material-icons">group</i> Training and Mentoring</span>
            
            </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-green-text"><i class="material-icons">print</i></h2>
            <h5 class="center">the goods.</h5>

            <p class="light">
            <span><h6><img  src="/iassets/icons/pdf.png"> <a href="/iassets/resume/joshua-everett-resume.pdf">click here to download</a></h6></span>
            <br>
            <span><h6><img src="/iassets/icons/linkedin.png" alt="linkedin">  <a href="https://linkedin.com/in/joshuaeverett22/">view my linkedin profile</a></h6><span>
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          
           <h1 class="header center white-text cinzel-font">Project Portfolio</h1>
  
        </div>
      </div>
    </div>
    <div class="parallax"><img src="./images/bg6.jpg" alt="washington dc area"></div>
  </div>

  <!--PROJECTS-->

  <div id="projects" class="container">

    <div class="section">
<!--BEGIN ROW-->
      <div class="row">
        <!--CARD 1-->
        <div class="card small col s6">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="iassets/projects/nerdGnome.png">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Application Tracking Site<i class="material-icons right">more_vert</i></span>
      <p><a href="http://www.nerdGnome.com">See it Live!</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">nerdGnome.com<i class="material-icons right">close</i></span>
      <p>This awesome site is your ultimate companion when finding your next career path. Enter your job application info and track the entire hiring process, from the application to the final interview.
        <br>
        Built with: C#, asp.Net, Entity Framework, Razor, mySQL.
        <br>
        Deployed on: AWS EC2, Route53</p>
    </div>
  </div>
  <!--CARD 2-->
        <div class="card small col s6">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="iassets/projects/ares-ai.png">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">AI Machine Learning Chatbot<i class="material-icons right">more_vert</i></span>
      <p><a href="http://josheverett.info/">View Github</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">AI Machine Learning Chatbot<i class="material-icons right">close</i></span>
      <p>This beautiful chatbot was built on a 3 person team during a project week. You can ask it for traffic, weather and even info about it's creators.
<br>
      Built with: Python, Django and AI
<br>
      Deployed on: AWS EC2, Route53</p>
    </div>
  </div>
  </div>
  <!--CARD 3-->
  <div class="row">
        <div class="card small col s6">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="iassets/projects/auction.png">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Auction Site<i class="material-icons right">more_vert</i></span>
      <p><a href="https://github.com/everett-j/Belt">View Github</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Auction Site<i class="material-icons right">close</i></span>
      <p>Created a full-stack application that allows users once logged-in to create auction items and bid on others.
      <br>
      Built with: C#, asp.Net, Entity Framework, Razor, mySQL</p>
    </div>
  </div>

  <!--CARD 3-->
        <div class="card small col s6">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="iassets/projects/product-store-angular.png">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Product Manager<i class="material-icons right">more_vert</i></span>
      <p><a href="https://github.com/everett-j/rateMycakes">View Github</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Product Manager<i class="material-icons right">close</i></span>
      <p>Created a full-stack application to allow product owners to add, edit and delete products from their website.
      <br>
      Built with: Angular, MongoDB, Express, NodeJs</p>
    </div>
  </div>
</div>

  <!--END ROW-->
      </div>

    </div>
  </div>
<!--END GROUPING-->
<div id="contact"></div>

<!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/js/materialize.js"></script>
  <script src="/js/materialize.min.js"></script>
  <script src="/js/init.js"></script>
           <!-- Compiled and minified JavaScript -->
           <script>
//Get the button:
mybutton = document.getElementById("myBtn");

// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0; // For Safari
  document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
}
</script>