@{
    ViewData["Title"] = "Full Stack Developer ";
}
<p><br></p>
<div class="card">
  <div class="card-body">
    <h3>be determined.</h3>
  </div>
</div>
<!-- Header Section -->
<div id="monster" name="home">
        <div class="container">
                <div class="row white">
                  <div class="col-md-6">
                 <!-- BEGINNING OF PROFILE-->   
                 

                  <div class="card hovercard">
                      <div class="cardheader">
      
                      </div>
                      <div class="avatar">
                          <img alt="Josh E" src="/iassets/me.jpeg">
                      </div>
                      <div class="info">
                          <div class="title">
                              Josh Everett
                          </div>
                          <div class="bottom-black">
                              <img alt="Full-Stack Software Engineer"src="/iassets/programming.png"> 
                            <img alt="Python"src="/iassets/python.png"> 	
                            <img alt="Javascript"src="/iassets/javascript.png"> 
                            <img alt="CSS" src="/iassets/css.png"> 
                            <img alt="HTML 5" src="/iassets/html5.png"> 
                            <img alt="JQuery" src="/iassets/jquery.png"> 
                            <!-- <img alt="Node JS" src="assets/icons/nodejs.png">  -->
                            <img alt="Java" src="/iassets/java.png"> 
                            <img alt="Java" src="/iassets/c-sharp.png"> 
                          </div>
                          <div class="desc">Passionate problem-solver</div>
                          <div class="desc">Curious developer</div>
                          <div class="desc">Tech geek</div>
                      </div>
                      
                      <div class="bottom float-right bottom_push">
                          <div class="row float-right">
                          <div class=" icon_hold "><a href="https://www.linkedin.com/in/joshuaeverett22/"><img src="/iassets/icons/linkedin.png"></a></div>
                          <div class=" icon_hold2"><a href="https://github.com/everett-j"><img src="/iassets/icons/github.png"></a></div>
                          <div class=" icon_hold3"><a href=""><img src="/iassets/icons/envelope.png"></a></div>
                          <div class=" icon_hold4"><a href=""><img src="/iassets/icons/phone.png"></a></div>
                          </div>
                          
                      </div>
                      </div>
                  
     

                <!--END OF PROFILE-->
                              </div>
                  <div class="card col-md-6">
                    <h3>Full Stack Developer</h3>
                    <p class="white">
                      I'm just your friendly neighborhood Software Developer. I guess you found me and with my awesome skills. As I switch from a career in transportation management to software programming, I am looking at ways to put these new talents to good use in meeting my next challenge.

                      Having learned languages like Python, C#/.Net, JavaScript, MongoDB, Django and MySQL would prove valuable to any company or organization.
                      
                      Being a military veteran with an extensive background in overseeing tasks from initial planning to final delivery also would be beneficial.
                      
                      Plus, I work equally well in team and individual settings with minimal supervision.  I'm glad you are here, I hope you see what you are looking for and that I hear from you soon. 
                    </p>
                    <a href="Contact" class="btn btn-outline-success button-green" >Contact Me Now!</a>

                </div>
                </div>
              </div>
  
</div>

<div class="card">
  <div class="card-body">
   <h3>#coder</h3>
  </div>
</div>