@{
    ViewData["Title"] = "Full Stack Developer ";
}
<p><br></p>
<div class="card">
  <div class="card-body">
    <h3>Portfolio</h3>
  </div>
</div>
<!-- BEGIN ROW -->
<div id="monster" name="home">
        <div class="container">
                <div class="row white">
                  <div class="col-md-6">
<!-- BEGINNING OF PROFILE LEFT-->   
                 <div class="card">
                <div class="card-header">
                    Featured
                </div>
                <div class="card-body">
                    <h5 class="card-title">Application Tracking Site</h5>
                    <img src="/iassets/projects/nerdGnome-1.png" class="card-img-top port-image" alt="nerdGnome.com | Application Tracking Site">
                    <p class="card-text">This awesome site is your ultimate companion when finding your next career path. 
                    Enter your job application info and track the entire hiring process, from the application to the final interview.</p>
                    <p class="card-text">Built with: C#, asp.Net, Entity Framework, Razor, mySQL</p>
                    <p class="card-text">Deployed on: AWS EC2, Route53</p>
                    <a href="http://www.nerdGnome.com" class="btn btn-outline-success button-green ">See it Live!</a>
                    <p><br></P>
                </div>
                </div>

<!--END OF PROFILE RIGHT-->
                </div>
                  <div class="card col-md-6">
                    
                <div class="card-body">
                    <h5 class="card-title">AI Machine Learning Chatbot</h5>
                    <img src="/iassets/projects/ares-ai-weather.png" class="card-img-top port-image" alt="ARES | Chatbot">
                    <p class="card-text">This beautiful chatbot was built on a 3 person team during a project week. You can ask it for traffic, weather and even info about it's creators.</p>
                    <p class="card-text">Built with: Python, Django and AI</p>
                    <p class="card-text">Deployed on: AWS EC2, Route53</p>
                    <a href="http://www.josheverett.info" class="btn btn-outline-success button-green ">See it Live!</a>
                    <p><br></P>
                </div>
                </div>
              </div>
  
</div>
<!--END ROW-->
<!--ROW 2-->
<!-- BEGIN ROW -->
<div id="monster" name="home">
        <div class="container">
                <div class="row white">
                  <div class="col-md-6">
<!-- BEGINNING OF PROFILE LEFT-->   
                 <div class="card">

                <div class="card-body">
                    <h5 class="card-title">Auction Site</h5>
                    <img src="/iassets/projects/auction.png" class="card-img-top port-image" alt="Auction Site">
                    <p class="card-text">Created a full-stack application that allows users once logged-in to create auction items and bid on others.</p>
                    <p class="card-text">Built with: C#, asp.Net, Entity Framework, Razor, mySQL</p>
                    <a href="https://github.com/everett-j/Belt" class="btn btn-outline-success button-green ">View Github</a>
                    <p><br></P>
                </div>
                </div>

<!--END OF PROFILE RIGHT-->
                </div>
                  <div class="card col-md-6">
                    
                <div class="card-body">
                    <h5 class="card-title">Product Manager</h5>
                    <img src="/iassets/projects/product-store-angular.png" class="card-img-top port-image" alt="ARES | Chatbot">
                    <p class="card-text">Created a full-stack application to allow product owners to add, edit and delete products from their website.</p>
                    <p class="card-text">Built with: Angular, MongoDB, Express, NodeJs</p>
                    <a href="https://github.com/everett-j/rateMycakes" class="btn btn-outline-success button-green ">View Github</a>
                    <p><br></P>
                </div>
                </div>
              </div>
  
</div>
<!--END ROW-->



<div class="card">
  <div class="card-body">
    <h3>This page is updated frequently.</h3>
  </div>
</div>